<h1>Create a snack!</h1>

<form action='/snacks'  method='POST' >
  <label>Name: <input type="text" name="name"> </label>
  <label>Company: <input type="text" name="creator_company"> </label>
  <label>Experation Date: <input type="date" name="expiration_date"> </label>
  <label>Rating: <input type="number" name="my_rating"> </label>
  <label>Snack's image url:<input type="text" name="img_url"> </label>
  <input type="submit" value="Add this snack">
</form>
